body { margin: 0; background-color: rgba(0, 153, 208, 0.2);}
img { position:absolute; width: 1350px; height: 253px; }
#menu ul {
    padding:0px;
    margin:0px;
    background-color:#086fd6;
    list-style:none;
}
#menu { margin-top: 250px; position: absolute; }
#menu ul li { display: inline; width: 100%; height: 100%;}
#menu ul li a {
    padding: 15px 136px;
    display: inline-block;
	border-bottom: none;
	font-size: 20px;
	font-family: calibri;

    /* visual do link */
    background-color:#086fd6;
    color: #333;
    text-decoration: none;
   	transition: background-color 1s;
	
}
#menu ul li a:hover {
    background-color:#ffffff;
    color: black;
    
}
h1 {font-family: Verdana; font-size: 50px; position: absolute; margin-left: 330px; margin-top: 400px;}
p { position: absolute; font-family: calibri; font-size: 20px; margin-left: 150px; margin-top: 500px; }
#link { position: absolute; font-family: cambria; font-size: 11px; margin-left: 150px; margin-top: 1000px; }
#fundotexto { height:1050px; width: 1200px; background-color: #E0F8F7; transparent: 70%; margin-left: 100px; }
.torneira { position: absolute; margin-top: -750px; margin-left: 1000px; height: 200px; width:300px; }
